.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .imageBox {
    position: relative;
    width: 100vh;
    height: 60vw;
    margin: 2vh;
  }
  
  .hiddenInput {
    display: none;
  }

  .nextButton {
    margin: 1rem;
  }
  